node_modules/
.expo/
dist/
web-build/
.env
.env.local

# macOS
.DS_Store

# Xcode
ios/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate

# Android
android/
*.keystore
!debug.keystore

# Metro
.metro-health-check*

# Testing
coverage/

# Yarn
.yarn/
